
CI_Autocomplete\.php

nbproject/
lwscodeigniterwrapper/
lws_api/

aktivitas/application/logs/*\.php
aktivitas/application/cache/
aktivitas/index\.php

presensi/application/logs/*\.php
presensi/application/cache/
presensi/index\.php
presensi/application/config/database\.php

ppk/application/logs/*\.php
ppk/application/cache/
ppk/index\.php
