/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2016, 1:04:05 PM
    Author     : nurfadillah
*/

html, body {
    /*background: #66cbe9 url(img/bg.jpg);*/
    background-size: cover;
}
.page-container.page-navigation-top-fixed .page-content {
    margin-top: 80px;
    padding-top: 10px;
}
.page-container .page-sidebar {
    background: #1e293d;
}
.page-sidebar .x-navigation {
    border-bottom: 1px solid rgb(27, 36, 54);
}
.x-navigation {
    background: none;
}
.x-navigation > li.xn-openable:before {
    top: 8px;
}
.x-navigation li > a .fa, .x-navigation li > a .glyphicon {
    color: #ffffff;
}
.x-navigation > li > ul > li > a,
.x-navigation > li > ul > li.active > a,
.x-navigation > li > ul > li > a:hover {
    padding: 5px 10px 5px 40px;
}
.x-navigation li.xn-title {
    padding: 5px 10px 5px 15px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: #0f1725;
    color: #ff9999;
    text-align: center;
}
.x-navigation li.xn-title .fa {
    margin-right: 10px;
}
.x-navigation li > a {
    padding: 5px 10px;
}
.x-navigation.x-navigation-horizontal .xn-icon-button > a {
    width: auto;
}
.x-navigation.x-navigation-horizontal {
    background: #7ed0e8;
}
.profile .profile-image img {
    border-radius: 0;
}
.profile .profile-data .profile-data-name {
    font-size: 12px;
}
.panel .panel-body.profile {

}
.capaian {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid #000;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 55px;
}
th {
    text-align: center;
}
.pagination.month > li > a {
    padding: 5px 6px;
}
.table>thead>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
.table {
    margin-bottom: 10px;
}
.table.table-bordered, .panel-body.panel-body-table .table.table-bordered {
    border: 1px solid #e5e5e5;
}
.table .table {
    margin-bottom: 0;
}
.table.table-top td {
    vertical-align: top;
}
table td, th {
    padding: 2px 4px;
}
.panel-primary>.panel-heading {
    color: #000;
}
.list-group-item img {
    /*width: 30px;*/
}
.btn-group-icon > .btn .fa {
    padding-top: 2px;
    margin: 0;
}
.login-container {
    /*background: none !important;*/
    background: url(img/bg.jpg);
    background-size: cover;
}
.page-container .page-content {
    background: #66cbe9;
    background: url(img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.login-container .login-box {
    padding-top: 260px;
}
.login-container .login-box .login-body {
    background: rgba(255, 255, 255, 0.8);
}
.login-container .login-box .login-body .login-title {
    color: #000000;
    margin-bottom: -10px;
}
.login-container .login-box .login-body .form-control {
    color: #383838;
}
.login-container .login-box .login-footer {
    color: #000;
}
.login-container .login-box .login-footer {
    text-shadow: 0 0 3px #00a6ff;
}
form.form-panel {
    margin-bottom: 10px;
}
.input-group input:not(:first-child), .input-group select:not(:first-child) {
    border-left: none;
}
tr.table-footer td {
    background-color: rgb(241, 245, 249);
    font-weight: bold;
    vertical-align: middle !important;
}
.btn.btn-sm, .btn-group-sm > .btn {
    padding: 0px 10px;
}
.breadcrumb {
    position: fixed;
    top: 50px;
    padding-right: 200px;
    z-index: 4;
}
.wizard .anchor li a:after {
    z-index: 2;
}
.x-navigation.x-navigation-panel li#pengumuman {
    width: 90%;
}
.panel, .form-control, .btn {
    border-radius: 0 !important;
}
@media only screen and (max-width: 1024px){
    .breadcrumb {
        position: relative;
        top: 0;
        padding-right: 20px;
    }
    .x-navigation.x-navigation-panel li.xn-icon-button a {
        padding: 10px 0;
    }
}
@media only screen and (max-width: 768px){
    .x-navigation.x-navigation-panel li#pengumuman {
        width: 85%;
    }
}